@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vv3gaf');
  src:  url('fonts/icomoon.eot?vv3gaf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vv3gaf') format('truetype'),
    url('fonts/icomoon.woff?vv3gaf') format('woff'),
    url('fonts/icomoon.svg?vv3gaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mastercard:before {
  content: "\e906";
}
.icon-visa:before {
  content: "\e907";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-payment_up:before {
  content: "\e902";
}
.icon-payment_dowm:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e900";
}
