.nzLogonPassCodeBlock{
    text-align: center;
    position: absolute;
    flex-grow: 10;
    width: 100%;
    height: 100%;
    // background-color: rgba(255,255,255,.4);
    background-color: rgb(64, 64, 64);
    .setPassCodeAnim{
        animation: showPassCodeSection 500ms linear forwards;
        position: absolute;
        overflow: hidden;
        margin: 10px;
        .nzSpan{
            display: inline-block;
            padding: 5px 0;
        }
        button{
            transition: 450ms linear all;
            opacity: 0;
        }
        .nzButtonsPassCode{
            ons-button{
                // color: #2979ff;
                color: #fff;
                border: 0;
                width: 32%;
                height: 50px;
                line-height: 50px;
                background-color: rgb(64,64,64);
                margin: 1px;
            }
        }
        ons-button{
            background-color: rgb(64,64,64);
            width: calc(100% - 10px);
            margin: 10px 5px 0;
            color: white;
        }
    }
}

@keyframes showPassCodeSection{
  0% {
    height: 42px;
    top: 0;
    left: 0;
  }
  100% {
    // background-color: #404040;
    background-color: rgb(44,44,44);
    color: white;
    top: calc(50% - 150px);
    height: 305px;
  }
}

.nzPassCodeInput{
    text-align: center;
    // position: absolute;
    flex-grow: 10;
    width: 100%;
    .nzSpan{
        display: inline-block;
        padding: 5px 0;
    }
    button{
        transition: 450ms linear all;
        opacity: 0;
    }
    .nzButtonsPassCode{
        ons-button{
            // color: #2979ff;
            color: #fff;
            border: 0;
            width: 32%;
            height: 50px;
            line-height: 50px;
            background-color: rgb(64,64,64);
            margin: 1px;
        }
    }
    ons-button{
        background-color: rgb(64,64,64);
        width: calc(100% - 10px);
        margin: 10px 5px;
        color: white;
    }
}

.nzPassCodeBlockCircular{
    position: relative;
    .nzPassCodeCircular{
        height: 42px;
        width: 42px;
        position: absolute;
        text-align: center;
        left: calc(50% - 21px);
        top: -2px;
        opacity: 0;
        // display: none;
        &.show{
            animation: circularShow 550ms linear forwards;
        }
        &.hide{
            animation: circularHide 550ms linear forwards;
        }
    }
    .content{
        width: 38px;
        border-radius: 50%;
        height: 38px;
        display: inline-block;
        line-height: 42px;
        // background-color: #1d9650;
        // opacity: 0;
        &.icon-checked{
            animation: buttonColor 550ms linear forwards;
        }
        &.icon-checked:before{
            font-size: 25px;
            color: #fff;
        }
    }
}
@keyframes circularShow{
  100% {
    opacity: 1;
  }
}
@keyframes circularHide{
  100% {
    opacity: 0;
  }
}
@keyframes buttonColor{
  to {
    background-color: #1d9650;
  }
}