.nzPassCodeSection{
    padding: 10px;
    background: #fff;
    margin: 10px;
    height: 295px;
    border-radius: 15px;
    .nzLogonWithPassCode{
        padding: 0 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .nzRemovePassCode{
            position: absolute;
            top: 95%;
            left: calc(50% - 150px);
            // color: #2979ff;
            color: white;
            width: 300px;
            text-align: center;
        }
    }
    .nzLogonButtonBlock{
        text-align: center;
        height: 44px;
    }
}