.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ++ new page ++ */
.exp-enter-right-to-left {
  transform: translate3d(100%, 0, 0);
  position: absolute;
  z-index: 15;
}

.exp-enter-right-to-left.exp-enter-active-right-to-left {
  transform: translate3d(0, 0, 0);
  transition: all 850ms ease-in-out;
  position: absolute;
  z-index: 15;
}

/* -- new page -- */
/* ++ old page ++ */
.exp-leave-right-to-left {
  transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 10;
}

.exp-leave-right-to-left.exp-leave-active-right-to-left {
  transform: translate3d(0%, 0, 0);
  transition: all 850ms ease-in-out;
  position: absolute;
  z-index: 10;
}

/* -- old page -- */
/* ++ new page ++ */
.exp-enter-left-to-right {
  transform: translate3d(0%, 0, 0);
  position: absolute;
  z-index: 10;
}

.exp-enter-left-to-right.exp-enter-active-left-to-right {
  transform: translate3d(0%, 0, 0);
  transition: all 850ms ease-in-out;
  position: absolute;
  z-index: 10;
}

/* -- new page -- */
/* ++ old page ++ */
.exp-leave-left-to-right {
  transform: translate3d(0%, 0, 0);
  position: absolute;
  z-index: 15;
}

.exp-leave-left-to-right.exp-leave-active-left-to-right {
  transform: translate3d(100%, 0, 0);
  transition: all 850ms ease-in-out;
  position: absolute;
  z-index: 15;
}

/* -- old page -- */
.nzKeyboard {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.nzKeyboard .nzButtonsBlock1 {
  width: 100%;
  background-color: #fff;
}

.nzKeyboard .nzButtonsBlock1 .nzButtonRow {
  display: flex;
  flex-direction: row-reverse;
  height: 25%;
}

.nzKeyboard .nzButtonsBlock1 .nzButtonRow .nzButton {
  color: #606060;
  width: 33%;
  font-size: 25px;
  height: 45px;
  line-height: 45px;
}

.nzKeyboard .nzButtonsBlock2 {
  width: 20%;
}

.nzKeyboard .nzButtonsBlock2 .nzButtonCol {
  display: flex;
  flex-direction: column;
}

.nzKeyboard .nzButtonsBlock2 .nzButtonCol .nzButton {
  margin: 1px;
  font-size: 20px;
  color: #606060;
}

.nzTitle {
  display: flex;
  background-color: #009ac4;
  align-items: center;
  border-bottom: 1px solid #007689;
  color: white;
}

.nzTitle .nzTitleCol {
  width: 33%;
  height: 50px;
  line-height: 50px;
  color: white;
}

.nzTitle .nzTitleCol.nzActive {
  background-color: #008ca4;
}

.nzTitle .nzTitleCol.nzCenterButton {
  border-left: 1px solid #007689;
  border-right: 1px solid #007689;
}

.nzAmountInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40%;
  background-color: #009ac4;
  color: white;
}

.nzAmountInput .nzAmountItem {
  flex-grow: 1;
  text-align: center;
}

.nzAmountInput .nzAmountItem.nzAmountTextBlock {
  font-size: 100px;
  flex-grow: 3;
  text-align: right;
  min-width: 200px;
}

.nzAmountInput .nzAmountItem.nzTypeOperation {
  font-size: 35px;
}

.nzFromToText select {
  border: 0px;
  background-color: #2979ff;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 30px;
}
 

 /*# sourceMappingURL= App.css.map */